@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

:root {
  --color-1: #000000;
  --color-2: #F14F1C;
  --color-3: #EAE8E7;
  --main-font: 'Noto Sans', sans-serif;
}

* {
  font-family: var(--main-font);
}

body {
  background-color: var(--color-1);
  color: var(--color-3);
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.profile-image {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.fw-bold {
  font-size: 5rem;
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.bg-color-1 {
  background-color: var(--color-1);
}

.bg-color-2 {
  background-color: var(--color-2);
}

.bg-color-3 {
  background-color: var(--color-3);
}

.image-custom {
  background-size: cover;
}